#kep{width: 4cm;
    height: 4cm;

}
.jatek{width: 15cm;
    height: 8cm;

}
.zöld{background-color: aquamarine;
    color: darkorange;
      

}
body{text-align: center;
    

}
#cim{color: red;

}
#iskola{color:darkorange;
        background-color: aquamarine;


}

#hobi{color: darkorange;
    background-color: aquamarine;


}
#terveim{color: darkorange;
    background-color: deepskyblue;


}